{% extends "S7tHDirectoryBundle::layout.html.twig" %}

{% block linkmenu %}
    <li>
       <a class="page-scroll" href="{{ path('s7t_h_directory_tricklist') }}"><span class="glyphicon glyphicon-share-alt"></span> Retour à l'accueil</a>
    </li>
{% endblock %}

{% block header %}
    <div class="header-content">
        <div class="header-content-inner">
            <div class="col-xs-12 tricktitle"><h3><h3>Modifier le Trick</h3></div>
            {{ include('S7tHDirectoryBundle:Tricks:form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apikey=68jx62mqa8lxxguxg7p7nu12xooh2f14dn40eumnjy1ft8er"></script>
    <script>
        tinymce.init({ selector:'textarea', auto_focus: 's7th_directorybundle_tricks_description',
        plugins: "image, media",
        media_live_embeds: true});
    </script>
{% endblock %}
