{% extends "::layout.html.twig" %}

{% block linkmenu %}
    <li>
       <a class="page-scroll" href="{{ path('s7t_h_directory_tricklist') }}"><span class="glyphicon glyphicon-share-alt"></span> Retour à l'accueil</a>
    </li>
{% endblock %}

{% block header %}
    <div class="header-content">
        <div class="header-content-inner">
            <div> 
                {# display the flash  messages that define the bundle controllers #}
                {% for key, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ key }}">
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {# define this block wich will get to insert the bundle other views #}
                {% block fos_user_content %}

                    {% block fos_user_security_logout %}
                    {% endblock %}
                    
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>
{% endblock %}

