    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">test des commentaires !!</h2>
                    <hr class="light">
                    <p class="text-faded">
                    
                        <div>
                            Messages des utilisateurs

                            {# Displaying of trick #}
                            {% for com in commentaries %}
                                {{ com.message }}
                                {{ com.date|date("m/d/Y") }}
                                <br/>
                            {% endfor %}
                         </div>
                    
                    </p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>